@{
    Page.Title = "Title goes here";
            //Layout = "Your Layout Page goes here";
}

<div>
    <p>
        @Html.ActionLink("customers", "customers")
    </p>
    <p>@Html.ActionLink("customer_list", "customer_list")</p>
    <p>@Html.ActionLink("all", "all")</p>
    <p>@Html.ActionLink("pick", "pick")</p>
    <p>@Html.ActionLink("info", "info")</p>
    <p>@Html.ActionLink("update", "update")</p>
    <p>@Html.ActionLink("delete", "delete")</p>
    <p>@Html.ActionLink("deleteage", "deleteage")</p>
    <p>@Html.ActionLink("save", "save")</p>
</div>
